# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/

# Tools
.ruff_cache/
.pytest_cache/
.mypy_cache/
.coverage

# Playground files
playground/

# IDE
.vscode/